<h1>Cadastrar Cliente!</h1>
<hr>

<form [formGroup]="formGroup" (ngSubmit)="enviar()">
  <div class="mb-3">
    <label >Nome</label>
    <input type="text" class="form-control" formControlName = "nome">
  </div>
  <div class="mb-3">
    <label >CPF</label>
    <input type="text" class="form-control" formControlName = "cpf">
  </div>
  <div class="mb-3">
    <label >E-mail</label>
    <input type="text" class="form-control" formControlName = "email">
  </div>
  <div class="mb-3">
    <label >Observações</label>
    <input type="text" class="form-control" formControlName = "observacoes">
  </div>
  <hr>
  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Cadastrar</button>
</form>


